body {
  font-family: 'Arial', sans-serif;
  margin-left:10PX ;
  margin-right: 10px;
  padding : 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:linear-gradient(to right, rgb(117, 5, 5) , black );
  color: white;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

nav ul {
  list-style: none;
  display:flex;
  margin-right: 20px;
  position: relative;

}

nav ul li {
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
  background-color: brown;
  color:white;
  touch-action: pinch-zoom;
}

nav ul li:hover {
  color: #88c7f4;
}

.page {
  display:none;
  position:inherit;
  margin-top:50px; 
  justify-content: center;
  
}

#dashboard {
  background-color: #f4f4f4;
  padding-top: 30px;
}

#writeQueryBtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#writeQueryBtn:hover {
  background-color: hsl(122, 28%, 18%);
}

/* Add more styles and keyframes as needed */


.logo {
    
    
    display:flex;
    flex-basis:58%;
    
    justify-content: space-between;
}


.foot{
  display: inline-block;
  position: absolute;
  bottom:0;
  background:linear-gradient(to right, rgb(117, 5, 5) , black );
  width:100%;
  height:auto;
  text-align: center;
  border-top-left-radius:90px;
  color:white;
}
